@model Bahrin.Harbour.Model.AccountModel.ForgetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Areas/Administration/Views/Shared/_LayoutAccount.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<div class="wrapper">
    <main class="authentication-content d-flex">

        <div class="container">
            <div class="text-center mt-4">
                <div class="mb-lg-5 mb-4">
                    <a href="index.html" class="">
                        <img src="assets/images/brand-logo-2.svg" alt="" height="55" class="auth-logo logo-dark mx-auto">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">

                            <div class="p-3">
                                <h4 class="text-dark mt-2 text-center card-title mb-3">Forgot Password?</h4>
                                <p class="text-muted text-center mb-lg-5 mb-4">Please enter your registered email address, We will send you a link to reset your password</p>
                                <!--<div class="alert alert-primary" role="alert">
                                    Enter your Email and instructions will be sent to you!
                                </div>-->

                                <form class="form-horizontal" action="ForgetPassword" method="post">

                                    <div class="mb-3">
                                        <label for="useremail" class="mb-2">Email</label>
                                        <input type="email" asp-for="email" class="form-control" id="useremail" placeholder="Enter email"  required>
                                        <div asp-validation-for="email" class="valid-feedback">Valid.</div>
                                        <div asp-validation-for="email" class="invalid-feedback">Please fill out this field.</div>
                                    </div>

                                    <div class="mb-3 row mt-5">
                                        <div class="col-12 text-end">
                                            <input type="submit" value="Send Link" class="btn login-btn w-100 text-white" />
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </form>

                            </div>
                        </div>
                        <!-- end cardbody -->
                    </div>

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>

    </main>
    <!--end page main-->
</div>
<!--end wrapper-->
<!--plugins-->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/pace.min.js"></script>
<script src="~/js/site.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var errorMessage = '@TempData["Error"]';
        var successMessage = '@TempData["Success"]';

        if (errorMessage) {
            toastr.error(errorMessage);
        }

        if (successMessage) {
            toastr.success(successMessage);
        }
    });
</script>