@model Bahrin.Harbour.Model.AccountModel.ResetNewPasswordModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}


<!--start wrapper-->
<div class="wrapper">
    <main class="authentication-content d-flex">

        <div class="container">
            <div class="text-center mt-4">
                <div class="mb-lg-5 mb-4">
                    <a href="index.html" class="">
                        <img src="~/images/brand-logo-2.svg" alt="" height="55" class="auth-logo logo-dark mx-auto">
                    </a>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">

                            <div class="p-3">
                                <h4 class="text-dark mt-2 text-center card-title mb-3">Reset Password</h4>
                                <!--<div class="alert alert-primary" role="alert">
                                    Enter your Email and instructions will be sent to you!
                                </div>-->

                                <form class="form-horizontal" asp-area="Administration" asp-controller="Account" asp-action="UpdateAdminPassword" method="post">

                                    <div class="mb-3">
                                        <label for="OldPassword" class="mb-2">Old Password</label>
                                        <input asp-for="OldPassword" type="password" class="form-control" id="newpassword" required>
                                        <div asp-validation-for="OldPassword" class="valid-feedback">Valid.</div>
                                        <div asp-validation-for="OldPassword" class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="newpassword" class="mb-2">New Password</label>
                                        <input asp-for="NewPassword" type="password" class="form-control" id="newpassword" required >
                                        <div asp-validation-for="NewPassword" class="valid-feedback">Valid.</div>
                                        <div asp-validation-for="NewPassword" class="invalid-feedback">Please fill out this field.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirm_password" class="mb-2">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm_password" required com>
                                        <div asp-validation-for="ConfirmPassword" class="valid-feedback">Valid.</div>
                                        <div asp-validation-for="ConfirmPassword" class="invalid-feedback">Please fill out this field.</div>
                                    </div>

                                    <div class="mb-3 row mt-5">
                                        <div class="col-12 text-end">
                                            <input type="submit" id="formsaveButton" value="Reset Password" class="btn login-btn w-100 text-white" />
                                        </div>
                                    </div>
                                    <!-- end row -->


                                </form>

                            </div>
                        </div>
                        <!-- end cardbody -->
                    </div>


                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>

    </main>
    <!--end page main-->
</div>
<!--end wrapper-->



<script src="~/js/jquery.min.js"></script>
<script src="~/js/pace.min.js"></script>
<script src="~/js/site.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
