@*     /////////////////////////////////////////////////////////////////////////////////////////
 *@

<!--start wrapper-->
<div class="wrapper">
  <!--start top header-->
  <?php include('header.php'); ?>
  <!--start content-->
  <main class="page-content">
    <div class="radius-10 px-3">
      <div class="card-header bg-transparent border-0">
        <div class="row g-3 align-items-center">
          <div class="col-12 col-md-6 col-lg-6">
            <h4 class="mb-0 font-600 text-dark"> Outlet Management </h4>
          </div>

          <div class="col-12 col-md-6 col-lg-6 text-right">
          <a href="CreateOrUpdateOutlet?id=@Guid.Empty" class="btn btn_warning font-14 ms-auto px-4"><i class="fadeIn animated bx bx-plus font-20"></i> Add Outlet</a>
          </div>
        </div>

        <div class="row g-3 align-items-center">
          <div class="col-12 col-md-8 col-lg-8 d-flex">
            <div class="d-lg-flex">
         @*      <div class="searchbar me-3 w-100 mb-3">
                <label class="form-label"> &nbsp;</label>
                <div class="position-absolute top_50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps_4" type="text" placeholder="Search">
              </div> *@
              @* <div class="w-100 me-3">
                <label class="form-label">Status</label>
                <select class="form-select mb-3 form-control" aria-label="Default select example">
                  <option selected="">All</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="w-100">
                <label class="form-label">Last Visit</label>
                <input type="date" class="form-control">
              </div> *@
            </div>
          </div>
         @*  <div class="col-12 col-md-4 col-lg-4 text-right">
          </div> *@
        </div>
      </div>
      <div class="card-body mt-3">
        <div class="table-responsive">

          @await Html.PartialAsync("OutletList")

        </div>       
            
      </div>
    </div>
  </main>
  <!--end page main-->
  <!--start overlay-->
  <div class="overlay nav-toggle-icon"></div>
  <!--end overlay-->
  <!--Start Back To Top Button-->
  <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
  <!--End Back To Top Button-->
  <!--start switcher-->
</div>
<!--end wrapper-->
   
<!-- Bootstrap bundle JS -->



